<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
    <%= image_tag(@item.image_url, class: 'fancy-frame') %>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
    <div class="text-center">
      <%= @item.title %>
    </div>
    <div>
      Artist: <%= @item.artist_name %>
    </div>
  </div>
</div>


<p class="text-center">
  <%= @item.medium %>, <%= @item.object_date %>, 
</p>

<p class="text-center">
  <strong>Dimensions:</strong>
  <%= @item.dimensions %>
</p>

<p>
  <strong>Credit line:</strong>
  <%= @item.credit_line %>. Accession number: <%= @item.accession_number %>
</p>

