<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Artist name:</strong>
  <%= @item.artist_name %>
</p>

<p>
  <strong>Object date:</strong>
  <%= @item.object_date %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @item.medium %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @item.dimensions %>
</p>

<p>
  <strong>Credit line:</strong>
  <%= @item.credit_line %>
</p>

<p>
  <strong>Accession number:</strong>
  <%= @item.accession_number %>
</p>

<p>
  <strong>Label:</strong>
  <%= @item.label %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @item.image_url %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
